
@{
    ViewData["Title"] = "通知管理";
}

<form class="layui-form layui-form-pane" style="width:90%;">
    @Html.AntiForgeryToken()
    @Html.Hidden("Id")


    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">通知标题</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input title" lay-verify="title" placeholder="请输入通知标题">
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">通知内容</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="news_content"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addNotice">确定</button>
            @*<button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>*@
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/js/notice/add.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
}



