/Software.WebApi/Software.WebApi/obj
/Software.WebApi/Software.WebApi/bin
/Software.WebApi/.vs
/Software.WebApi/Software.IRepository/obj
/Software.WebApi/Software.IRepository/bin
/Software.WebApi/Software.IServices/*
/Software.WebApi/Software.Model/obj
/Software.WebApi/Software.Model/bin
/Software.WebApi/Software.Repository/*
/Software.WebApi/Software.Services/*
/Software.FrameWork/obj
/Software.FrameWork/bin
/Software.FrameWork/Entity/work
/Software.FrameWork/IRepository/work
/Software.FrameWork/IServices/work
/Software.FrameWork/Repository/work
/Software.FrameWork/Services/work
