/Software.WebApi/Software.WebApi/obj
/Software.WebApi/Software.WebApi/bin
/Software.WebApi/.vs
/Software.WebApi/Software.IRepository/obj
/Software.WebApi/Software.IRepository/bin
Software.WebApi/Software.Model/obj
/Software.WebApi/Software.Model/bin
/Software.FrameWork/obj
/Software.FrameWork/bin
/Software.FrameWork/Entity/work
/Software.FrameWork/IRepository/work
/Software.FrameWork/IServices/work
/Software.FrameWork/Repository/work
/Software.FrameWork/Services/work
/Software.WebApi/Software.IServices/obj
/Software.WebApi/Software.IServices/bin
/Software.WebApi/Software.Repository/obj
/Software.WebApi/Software.Repository/bin
/Software.WebApi/Software.Services/bin
/Software.WebApi/Software.Services/obj
/Software.Common/obj
/Software.Common/bin
/Software.Admin/Software.IRepository/bin
/Software.Admin/Software.IRepository/obj
/Software.Admin/Software.IServices/obj
/Software.Admin/Software.IServices/bin
/Software.Admin/Software.Model/bin
/Software.Admin/Software.Model/obj
/Software.Admin/Software.Repository/obj
/Software.Admin/Software.Repository/bin
/Software.Admin/Software.Services/bin
/Software.Admin/Software.Services/obj
/Software.Admin/.vs
/Software.Admin/Software.Admin/obj
/Software.Admin/Software.Admin/bin
/Software.WebApi/Software.WebApi/App_Data/SenparcTraceLog
/Software.Admin/Software.Admin/wwwroot/upload
