<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="Nlog.log">

  <targets>
      <target name="log_file"
            xsi:type="File"
            fileName="${basedir}/LogInformation/${shortdate}/${level}_${shortdate}.txt"
             layout="${longdate}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

    <target
      name="log_database"
      xsi:type="Database"
      connectionString="Data Source=.;Initial Catalog=Software;Persist Security Info=True;User ID=sa;Password=123456">
      <commandText>
        insert into NLogInfo([Date],[Parameter],[Level],[Message],[Url]) values (getdate(), @parameter, @logLevel, @message,@url);
      </commandText>
      <!--日志来源-->
      <parameter name="@parameter" layout="${event-context:item=Query}" />
      <!--日志等级-->
      <parameter name="@logLevel" layout="${level}" />
      <!--日志消息-->
      <parameter name="@message" layout="${event-context:item=Message}" />
      <!--引用variable1信息-->
      <!--<parameter name="@detail" layout="${variable1}" />-->
      <parameter name="@url" layout="${event-context:item=Path}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="log_file" />
    <logger name="*" minlevel="Fatal" writeTo="log_database" />
  </rules>
</nlog>
